<a href="https://colab.research.google.com/github/rasika123007/rasika_new/blob/main/extract_genre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json

In [ ]:
df= pd.read_csv('/content/imdb_data.csv')
df.head(3)

In [ ]:
def func(value, key):
    try:
        j = eval(value)  # Convert string to list
        df = pd.json_normalize(j)  # Flatten JSON into DataFrame
        names = list(df[key])  # Extract values of 'name' column
        return ",".join(names)  # Return as comma-separated string
    except:
        return value  # Return original value if error occurs

In [ ]:
df.loc[:,'genre_name']=df.loc[:,'genres'].apply(func,key='name')

In [ ]:
df

In [ ]:

df['genres'][1]

In [ ]:
genre="[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]"
genre

In [ ]:
type(genre)

In [ ]:
# str to list
new_genre=eval(genre)
new_genre

In [ ]:
type(new_genre)

In [ ]:
# convert json to dataframe
new_data=pd.json_normalize(new_genre)
new_data

In [ ]:
#
# get all the names
names=list(new_data['name'])#list(df[key])

In [ ]:
",".join(names)

In [ ]:
def func(genre,key):
  try:
    value = eval(genre)
    data = pd.json_normalize(value)
    names=list(data[key])
    return ",".join(names)
  except:
    return genre